# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/

# IDE
.idea/
*.iml
.vscode/

# macOS
.DS_Store

# Platform build artifacts
android/.gradle/
android/app/debug
android/app/profile
android/app/release
ios/Flutter/ephemeral/
ios/Pods/
macos/Flutter/ephemeral/
macos/Pods/
linux/flutter/ephemeral/
windows/flutter/ephemeral/
*.g.dart
